.head-with-border {
  position: relative;
  h2 {
    text-align: center;
    background-color: $redColor;
    color: #fff;
    border-radius: 17px;
    width: 400px;
    margin: 40px auto;
    padding: 10px 15px;
    text-transform: uppercase;
    @media #{$maxMobile} {
      max-width: 300px;
    }

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 1.5px;
      left: 0;
      top: 50%;
      background-color: $greyColor;
      z-index: -1;
    }
  }
}
