.slider {
  blockquote {
    font-size: 20px;
    line-height: 1.7;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    color: #5e5e5e;
    font-family: Tahoma;
    width: 80%;
    margin: 30px auto;
  }
  img {
    max-width: 100%;
  }
  .bullets {
    text-align: center;
    li {
      display: inline-block;
      width: 20px;
      height: 20px;
      background-color: $greyColor;
      border-radius: 50%;
      border: 3px solid $greyColor;
      cursor: pointer;
      &.active,
      &:hover {
        border: 3px solid #333;
      }
    }
  }
}

.services {
  .service-box {
    float: $float-left;
    width: (100% / 3);

    &:not(:last-of-type) {
      padding-right: 20px;
    }
    .service-title {
      color: #666;
      i {
        font-size: 35px;
        position: relative;
        top: 4px;
      }
    }
    .service-desc {
      color: #777;
      line-height: 1.5;
    }
    .link {
      color: $redColor;
      text-decoration: none;
    }
  }
}

.our-players {
  .player-box {
    float: $float-left;
    width: (100% / 5);

    &:not(:last-of-type) {
      padding-right: 20px;
    }
    .player-img {
      max-width: 100%;
    }
    .player-title {
      font-weight: normal;
      color: #666;
      span {
        font-weight: bold;
      }
    }
    .player-desc {
      color: #777;
      line-height: 1.5;
    }
    .link {
      color: $redColor;
      text-decoration: none;
    }
  }
}
.lorem-ipsum {
  .lorem-box {
    float: $float-left;
    width: (94% / 3);
    &:not(:last-of-type) {
      margin-right: 3%;
    }
    .lorem-img {
      max-width: 100%;
    }
  }
}
